<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-5">
            <h2><%=listing.title%></h2>
            <div class="card listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text mt-3">
                        <p>OWNED BY-<i><%=listing.owner.username%></i></p>
                        <%=listing.description%><br><br>
                        <b>Price:</b>  &#x20b9;<%=listing.price.toLocaleString("en-IN")%> <br><br>
                        <b>Location:</b> <%=listing.location%><br><br>
                        <b>Country:</b> <%=listing.country%><br><br>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <%if(currentUser && listing.owner._id.equals(currentUser._id)){%>
   <div class="row-btn">
        <div class="edit">
            <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn" >edit</a>
        </div>
        <div class="delete">
            <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                <button class="btn btn-dark delete-btn">Delete</button>
            </form>
        </div>
    </div>
    <%}%>
    <hr>
    
    <!-- Map Container -->
    <div div class="row">
        <div class="col-5" >
            <h3> Where you'll be</h3>
            <div  id="map" data-lat="<%=coords ? coords.lat : '' %>" data-lng="<%=coords ? coords.lng : '' %>" style="height:400px; width:80vh; margin-top:20px;">
            </div>
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-5">
            <%if(currentUser){%>   
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="post" class="needs-validation" novalidate>
                <!-- <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range"> -->
            <label for="rating" class="form-label">Rating</label>
                        <fieldset class="starability-slot">
                            
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment"  placeholder=" comment..." class="form-control"  rows="6" required ></textarea>
                    <div class="invalid-feedback">
                        please write a comment...
                    </div>
                </div>
            
                <button class="btn btn-dark" type="submit">submit</button>
            </form>
            <hr>
            <%}%>
        </div>
     
    
        
        <div  class="text-center fw-semibold display-5 mb-4 text-dark ">
            <h4>All reviews</h4>
        </div>
    </div>

    <div class="row  row-cols-md-1 row-cols-lg-1 row-cols-sm-1 mt-3 mb-3  ">
        <%for(let review of listing.reviews) {%>
            <div class="card review-card mb-3" >
                
                <div class="card-body mt-2">
                    <h5 class="card-title">@<%=review.author.username%></h5>
                    <p class="starability-result card-text" data-rating="<%=review.rating%>">
                        Rated: 3 stars
                    </p>
                    <p class="card-text"><%=review.comment%></p>
                    
                    
                    <div class="delete-review-btn">
                        <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method=post>
                            <button class="btn btn-dark">Delete</button>    
                        </form>
                        
                    </div>
                </div>
                
            </div>
        <%}%>
    </div>
    
</body>
